html {
  overflow: auto;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  overflow: auto;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: JetBrains Mono, Roboto, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(204, 255, 0, 0.1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
