.header {
    text-align: center !important;
    color: grey;
    width: 100%;
    margin: 15px;
}

.highlight {
    display: inline-block;
    /*background-color: rgb(253, 126, 20, 0.5);*/
    background-color: rgb(1, 50, 32, 0.5);
    padding: 3px;
    border-radius: 3px;
    color: #fff;
}
