.header {
    text-align: center !important;
    color: grey;
    margin: 15px;
}

.highlight {
    display: inline-block;
    background-color: rgb(253, 126, 20, 0.5);
    /*background-color: rgb(26, 35, 126, 0.5);*/
    padding: 2px;
    border-radius: 3px;
    color: #1A237E;
}
