.header {
    text-align: center !important;
    color: #3a680c;
    margin: 15px;
}

.highlight {
    display: inline-block;
    background-color: rgb(1, 50, 32, 0.5);
    margin-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 3px;
    color: #fff;
}

.highlightLight {
    display: inline-block;
    background-color: rgb(124, 252, 0, 0.25);
    font-style: italic;
    margin-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 3px;
    color: #808080;
}

.block {
    text-align: justify;
    margin: 10px 20px 10px 30px;
    font-size: medium;
    background-color: rgb(1, 50, 32, 0.1);
    padding: 10px;
    border-radius: 5px;
}

.quote {
    text-align: justify;
    margin: 10px 20px 10px 30px;
    font-size: small;
    font-style: italic;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    color: #013220;
}

.code {
    text-align: justify;
    margin: 10px 20px 10px 30px;
    font-size: medium;
    background-color: rgb(1, 50, 32, 0.4);
    padding: 10px;
    border-radius: 5px;
    color: #7cfc00;
}

.description {
    text-align: center;
    margin-top: 10px;
    font-style: italic;
    margin-bottom: 10px;
}

.pictureDescription {
    display: inline-block;
    font-style: italic;
    color: #808080;
}
